{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container-fluid">
  <div class="row">

    <!-- Sidebar -->
    {% include "dashboard/sidebar.html" %}

    <!-- Right Content -->
    <div class="col-12 col-md-9 p-4">

      <!-- Logged In User -->
      <div class="mb-4">
        <h5>
          Logged in as 
          <span class="text-primary fw-bold">{{ user }}</span>
        </h5>
      </div>

      <!-- Dashboard Cards -->
      <div class="row g-4">

        <!-- Categories Card -->
        <div class="col-12 col-sm-6 mt-3">
          <div class="card dashboard-card text-center shadow-sm h-100 ">
            <div class="card-header text-uppercase fw-bold">
              All Categories
            </div>
            <div class="card-body">
              <h2 class="fw-bold text-primary">
                {{ categories.count }}
              </h2>
            </div>
          </div>
        </div>

        <!-- Posts Card -->
        <div class="col-12 col-sm-6 mt-3">
          <div class="card dashboard-card text-center shadow-sm h-100" >
            <div class="card-header text-uppercase fw-bold">
              All Posts
            </div>
            <div class="card-body">
              <h2 class="fw-bold text-success">
                {{ blogs_count }}
              </h2>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>



{% endblock %}
