{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<div class="row">
  <!-- Left Side bar -->
  <!-- Load the side bar here -->
  {% include "dashboard/sidebar.html" %}

  <!-- Right side content -->
  <div class="col-md-9">
    <h2>Edit Post</h2>
    <form
      action="{% url 'edit_post' post.id %}"
      method="POST"
      class="form-control mb-3"
      
    >
      {% csrf_token %} {{form | crispy}}
      <button type="submit" class="btn btn-warning">Edit Post</button>
      <br />
    </form>
  </div>
</div>
{% endblock %}
